body {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 40px;
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 80%
}

button {
  background-color: hsl(0, 0%, 95%);
  border: solid 2px;
  border-color: hsl(0, 0%, 95%);
  border-radius: 28px;
  font-weight: 400;
  padding: 1rem 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  margin: 50px auto;
  cursor:pointer;
}

.red:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.green:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.dark:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

.red {
  color: hsl(31, 77%, 52%);
}

.green {
  color: hsl(184, 100%, 22%);
}

.dark {
  color: hsl(179, 100%, 13%);
}

.outer {
  display: flex;
  background-color: hsl(0, 0%, 95%);
  padding: 6rem 16.5rem;
  text-align: left;
}


.sedans {
  width: 25%;
  padding: 5%;
  padding-right: 2%;
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.suv {
  width: 25%;
  padding: 5%;
  padding-right: 2%;
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  width: 25%;
  padding: 5%;
  padding-right: 2%;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
