body {
  text-align: center;
  font-size: 15px;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  width: 60%;
  margin: auto;
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
}

.outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  background-color: hsl(0, 0%, 95%);
  margin: 5% 10%;
  text-align: left;
}


.sedans {
  padding: 15%;
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  margin: 0;
  box-sizing: border-box;
}

.sedans-img {
  margin: 0;
  padding: 0;
}

.suv {
  padding: 15px;
  background-color: hsl(184, 100%, 22%);
}


.luxury {
  padding: 15px;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
